/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";
 body {
 	background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
 	color: #333;
 }
 .nav {
 	text-align:center;
 	margin-top: 20px;
 }
 .portfolio-links {
 	text-decoration: none;
 	color:white;
 	letter-spacing: 4px;
 	padding: 10px;
 }



