// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
	margin: 100px;
}
#about_pic {
	text-align:center;
	width: 40%;
}
.about_pic {
	opacity: 0.7;
	border-radius: 10%;
}
.about_name {
	font-family: "boucherie-cursive",sans-serif;
	font-size: 75px;
}
.about_title {
	font-family: "jaf-facitweb",sans-serif;
	letter-spacing: 3px;
}
.social {
	margin-top: 20px;
}

.about_page {
	section {
		text-indent: 20px;
	}
}
nav a, .fa {
	color: #546e7a;
	&:hover {
		color: #90caf9;
	}
}



