<nav class="list-reset flex items-center bg-black justify-around">
  <%= link_to "Z", root_path, :class => 'portfolio-links', :id => 'portfolio-links-about' %>
  <%= link_to "About Me", about_path, :class => 'portfolio-links', :id => 'portfolio-links-about' %>
  <%= link_to "Resume", "resume.pdf", :class => 'portfolio-links', :id => 'portfolio-links-resume', :target => '_blank' %>
  <%= link_to "Blog", blogs_path, :class => 'portfolio-links' %>
</nav>
