<nav class="list-reset flex items-center bg-black justify-around mb-4 pb-2">
  <%= link_to "Z", root_path, :class => 'portfolio-links', :id => 'nav_brand' %>
  <%= link_to "About Me", about_path, :class => 'portfolio-links' %>
  <%= link_to "Resume", "resume.pdf", :class => 'portfolio-links', :target => '_blank' %>
  <%= link_to "Blog", blogs_path, :class => 'portfolio-links' %>
</nav>
